@import './variables.css';
@import './reset.css';

html {
  display: flex;

  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100dvh;

  font-size: 1rem;
  text-size-adjust: 100%;

  color-scheme: dark;
  background-color: var(--color-body);

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex: 1 1 auto;

  width: 100%;
  margin: 0;

  font-family: var(--font-family-sans);
  font-style: normal;
  line-height: 1.15;
  color: var(--color-text);
}

#app {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

a {
  color: var(--color-primary);
  text-decoration-skip-ink: auto;
  &:hover {
    text-decoration: underline;
  }
}

button {
  display: flex;
  align-items: center;

  padding: 0.25rem;

  border: solid 1px transparent;
  border-radius: var(--border-radius);
  &:focus-visible {
    border-color: var(--color-primary);
  }
}

input {
  border: solid 1px transparent;
  &:focus-visible {
    border-color: var(--color-primary);
  }
}
